body {
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bienvenido-container {
  background-image: url("../images/bienvenido-fondo.png");
  background-size: 100% 100%;
  color: rgb(175, 175, 175);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  color: #000;
}

.card-aux:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.card-tuto {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.card-body{
  padding-bottom: 0px;
}

.formulario {
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.username {
  margin-bottom: 30px;
}

.username input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.username label {
  margin-top: 15px;
  font-size: 20px;
  color: #6c757d;
  transition: 0.3s ease all;
}

.username input:focus + label,
.username input:not(:placeholder-shown) + label {
  margin-top: -20px;
  font-size: 16px;
  color: #007bff;
}

input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"] {
  background-color: #007bff;
  margin-bottom: 20px;
}

input[type="reset"] {
  background-color: #6c757d;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
}

.alert {
  --bs-alert-margin-bottom: 0 !important;
}

.dropdown:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.filtro{
  display: none;
}

.perfil-imagen {
  width: 30px; /* ajusta el ancho según tus necesidades */
  height: 30px; /* ajusta la altura según tus necesidades */
  margin-right: 5px; /* ajusta el margen derecho según tus necesidades */
  border-radius: 50%; /* agrega esquinas redondeadas para que se vea más como una imagen de perfil */
}

.fondo1:hover{
  background-color: transparent !important;
}

.fondo2:hover{
  background-color: rgb(60, 59, 59);
}

.perfilUser-container {
  background-image: url("../images/bienvenido-fondo.png");
  background-size: 100% 100%;
  color: rgb(175, 175, 175);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perfil-banner {
  width: 200px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: auto;
  border-radius: 10px;
  margin-left: 90px;
}

.perfilUser {
  color: white;
  font-size: 110px;
  font-weight: bold;
  margin-right: 500px;
}

.container-fluid {
  padding: 10px; /* Ajusta el espaciado según sea necesario */
  color:rgb(255, 255, 255);
}

.minimalist-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.minimalist-option i {
  margin-right: 10px; /* Espaciado entre el icono y el texto */
}

.minimalist-option span {
  font-size: 18px; /* Tamaño de fuente del texto */
}

.card-footer{
  text-align: center;
  background-color: transparent;
  border-top: none;
}

a{
  color: white;
  text-decoration: none;
  background-color: transparent;
}